/* general */
.error-message {
  position: relative;
  border-radius: 4px;
  border-left: 3px solid red;
  top: -6px;
  padding: 2px 4px;
  font-size: 0.8rem;
  color: red;
  background-color: rgb(255, 225, 230);
}

.error__page {
  text-align: center;
  font-size: 4rem;
  color:#fff;
  -webkit-text-stroke: 1px #000;
}

main {
  margin-top: 10vh;
}

.modal-card-foot {
  justify-content: space-between !important;
}

.delete-icon {
  cursor: pointer;
}

.delete-icon:hover {
  filter: brightness(150%);
}

/* Auth Page */
.signup__form__container {
  width: 30rem;
  max-width: 80%;
  margin: 7rem auto;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 2px;
  padding: 20px 30px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.signup__form__container > input {
  margin-bottom: 10px;
  padding: 5px 2px;
}

.signup__form__footer .button {
  width: 100%;
  padding: 30px 0;
}

.signup__form__footer > p {
  margin-top: 15px;
  text-align: center;
}

.auth__link {
  font-weight: 600;
}

/* Post list */

.postList__container {
  margin: 0 auto;
  max-width: 760px;
  margin-top: 10vh;
}

.postList__container > .media + .media {
  border: none;
  padding-top: 0!important;
}

.postList__container > .media + .media:last-child {
  margin-bottom: 1rem;
} 
.post__content {
  width: 100%;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 2px;
  padding: 2px 10px;
  background-color: #FFF;
  cursor: pointer;
}

.post__header, .comment__header {
  display: flex;
  justify-content: space-between;
}

.heart__icon {
  background-color: transparent;
  cursor: pointer;
  border: none;
  color: rgb(243, 56, 56);
}

.icon__after:hover .icon__before:before {
  content: "\f004";
}

.post__content > .content {
  flex-grow: 1;
}

.post__title h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0!important;
}

/* create post */

.createPost__handler {
  margin: 0 auto;
  display: flex;
}

.createPost__handler > figure:after {
  content: '';
  display: inline-block;
  transform: translate(53px, -40px);
  width: 0;
  height: 0;
  border-right: 12px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
}

.createPost__handler__container {
  cursor: pointer;
  border: 1px solid rgb(210, 210, 210);
  width: 100%;
  border-radius: 2px;
  background-color: #fff;
  margin-bottom: 2rem;
  padding: 1.5rem 1rem;
}

.createPost__handler__button {
  cursor: pointer;
  border: 1px solid rgb(154, 154, 154);
  border-radius: 50px;
  background-color: #fff;
  padding: 1rem;
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 400;
}

.createPost__handler__button:hover {
  transition: 0.3s ease-in-out;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.56); 
}

.createPost__content {
  border: 1px solid rgb(210, 210, 210);
  border-radius: 2px;
  padding: 10px 10px;
  background-color: #FFF;
}

.createPost__form__container {
  display: flex;
  flex-direction: column;
}

.createPost__form__container > input {
  margin-bottom: 10px;
  padding: 5px 2px;
}

.form__footer, .signup__form__footer {
  border-top: 1px solid rgb(232, 232, 232);
  margin-top: 5px;
  padding-top: 15px;
}

/* post page */

.postPage__container {
  margin: 0 auto;
  max-width: 760px;
  margin-top: 10vh;
}

.postPage__content {
  border: 1px solid rgb(210, 210, 210);
  border-radius: 2px;
  padding: 2px 10px;
  background-color: #FFF;
}

.postPage__header {
  margin-top: 5px;
  display: flex;
}

.postPage__header > figure {
  margin-left: 0!important;
  margin-bottom: 1rem!important;
}

.postPage__body {
  font-size: 1.2rem;
}

.comment__content {
  padding: 2px 10px;
}

.comment__container:last-child {
  padding-bottom: 1rem;
}

/* create comment form */

.createComment__form__container {
  display: flex;
  flex-direction: column;
}

.createComment__form__container > input {
  margin: 5px;
  padding: 5px 2px;
}