.postList__container {
  margin: 0 auto;
  max-width: 800px;
  margin-top: 10vh;
}

.postList__container > .media + .media {
  border: none;
}

.post__content {
  border: 1px solid rgb(210, 210, 210);
  border-radius: 2px;
  padding: 2px 10px;
  background-color: #FFF;
  cursor: pointer;
}